In [1]:
import pandas as pd

# Analysis of Sales

This is going to be an analysis of a sales data of a company, the data has been obtained from the following github repository: https://github.com/KeithGalli/Pandas-Data-Science-Tasks/tree/master.
The goal should be to analyse and explore this dataset, to be able to produce meaningful knowledge that would help when making decisions. I will be following the analysis described in the repository and expanding into other possible means to analyse the data. 

For the following test, I will be using a new environment setup that is more suited for data analysis. I will be using the cookiecutter project directory as well as using Virtual Studio for the first time, with a conda environment and following the best practices when it comes to DATA. Thus this will be my first introduction to new technologies and new ways of working to try to improve the way I do projects and organise my documentation.

## Step 1. Create an enviroment

In [19]:
import pandas as pd
import os

## Step 2. Load the data
The data is spread across 12 different csv files, one for each month. I will merge it into one unique file so that all data is visible and centralized.

In [32]:
location = "../data/raw/"

all_data = pd.DataFrame() # we will start an emtpy dataframe where we will put all information

for file in os.listdir(location):
    print(f"tenemos el file: {file}")
    if file == ".gitkeep": # hay un archivo de cookicutter que es para guardar el data, por lo tanto tenemos que ignorar este archivo
        continue
    df_month = pd.read_csv(location + file)
    all_data = pd.concat([all_data, df_month])
    
all_data.size

tenemos el file: .gitkeep
tenemos el file: Sales_April_2019.csv
tenemos el file: Sales_August_2019.csv
tenemos el file: Sales_December_2019.csv
tenemos el file: Sales_February_2019.csv
tenemos el file: Sales_January_2019.csv
tenemos el file: Sales_July_2019.csv
tenemos el file: Sales_June_2019.csv
tenemos el file: Sales_March_2019.csv
tenemos el file: Sales_May_2019.csv
tenemos el file: Sales_November_2019.csv
tenemos el file: Sales_October_2019.csv
tenemos el file: Sales_September_2019.csv

1121100

In [33]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

Parece ser que ya tenemos todos los datos guardados, y combinados dentro de un solo archivo, vamos a guardar estos datos para poder partir de ellos. Como no hemos hecho nada de procesamiento todavía, está en mitad, vamos a guardar este nuevo df combinado en interim, que según la documentación de la estructura del archivo, es para datos modificados pero no procesados del todo.

In [34]:
all_data.to_csv("../data/interim/all_data.csv")

In [35]:
all_data.describe

<bound method NDFrame.describe of       Order ID                     Product Quantity Ordered Price Each  \
0       176558        USB-C Charging Cable                2      11.95
1          NaN                         NaN              NaN        NaN
2       176559  Bose SoundSport Headphones                1      99.99
3       176560                Google Phone                1        600
4       176560            Wired Headphones                1      11.99
...        ...                         ...              ...        ...
11681   259353      AAA Batteries (4-pack)                3       2.99
11682   259354                      iPhone                1        700
11683   259355                      iPhone                1        700
11684   259356      34in Ultrawide Monitor                1     379.99
11685   259357        USB-C Charging Cable                1      11.95

           Order Date                         Purchase Address
0      04/19/19 08:46             917 1st St, Dallas, TX 75001
1                 NaN                                      NaN
2      04/07/19 22:30        682 Chestnut St, Boston, MA 02215
3      04/12/19 14:38     669 Spruce St, Los Angeles, CA 90001
4      04/12/19 14:38     669 Spruce St, Los Angeles, CA 90001
...               ...                                      ...
11681  09/17/19 20:56   840 Highland St, Los Angeles, CA 90001
11682  09/01/19 16:00  216 Dogwood St, San Francisco, CA 94016
11683  09/23/19 07:39     220 12th St, San Francisco, CA 94016
11684  09/19/19 17:30   511 Forest St, San Francisco, CA 94016
11685  09/30/19 00:18   250 Meadow St, San Francisco, CA 94016

[186850 rows x 6 columns]>

In [37]:
all_data.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

It seems like we will be working with object type columms. So for now there is not any numerical columms, it will be interesting then if we can extract the information and create aditional columms. Before any of that happens, we need to make sure that our data if of good cuality. First lets check how many values we are missing, if there are certain outliers, and solve those issues first.

## Step 3. Assess cuality of the DATA

### Check missing values

In [45]:
all_data_missing = all_data.isnull()
all_data_missing.sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [46]:
percent_missing = all_data.isnull().sum() * 100 / len(df)
percent_missing

Order ID            2.964696
Product             2.964696
Quantity Ordered    2.964696
Price Each          2.964696
Order Date          2.964696
Purchase Address    2.964696
dtype: float64

So from what we can gather, there is arround a 3 % of data that is missing, since it the same percentage, lets print a few rows of the missing data and see what we can find

In [52]:
null_data = all_data[all_data.isnull().any(axis=1)] # i wanted to select all the row that contain at least one missing value in any of their columms. 

len(null_data)

545

In [51]:
null_data.head()

     Order ID Product Quantity Ordered Price Each Order Date Purchase Address
1         NaN     NaN              NaN        NaN        NaN              NaN
356       NaN     NaN              NaN        NaN        NaN              NaN
735       NaN     NaN              NaN        NaN        NaN              NaN
1433      NaN     NaN              NaN        NaN        NaN              NaN
1553      NaN     NaN              NaN        NaN        NaN              NaN

As we can see, it looks to be that every row that is missing, is missing all of their data.